@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialicons/v31/2fcrYFNaTjcS6g4U3t-Y5ZjZjT5FdEJ140U2DJYC3mY.woff2) format("woff2");
}

.x-task-icon {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 18px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

.x-task-icon.x-task-button-icon {
  cursor: pointer;
  opacity: 0.7;
}

.x-task-icon.x-task-button-icon:hover {
  opacity: 1;
}

.x-task-icon.x-task-edit-icon {
  float: left;
  margin-top: -1px;
}

.x-task-icon.x-task-activate-icon {
  float: right;
}.x-task-dialog-box {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.x-task-dialog-box .x-task-dialog-mask {
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #a6a6a6;
  opacity: 0.9;
}

.x-task-dialog-box.x-task-large-dialog .x-task-dialog {
  width: 1000px;
  height: 100%;
}

.x-task-dialog-box.x-task-large-dialog .x-task-dialog-content {
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 15px 0;
}

.x-task-dialog-box.x-task-large-dialog .x-task-dialog-buttons {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

.x-task-dialog-box.x-task-large-dialog .x-task-tabs-menu {
  padding-left: 20px;
}

.x-task-dialog-box.x-task-large-dialog .x-task-tabs-content {
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
  bottom: 55px;
  overflow: auto;
  box-sizing: border-box;
  padding: 5px 20px;
}

.x-task-dialog-box.x-task-notification-dialog .x-task-dialog {
  width: 540px;
}

.x-task-dialog-box.x-task-narrow-dialog .x-task-dialog {
  width: 360px;
}

.x-task-dialog-box .x-task-dialog {
  position: relative;
  z-index: 9991;
  background-color: #fff;
  box-shadow: 0 0 2px #333;
}

.x-task-dialog-box .x-task-dialog-title {
  position: relative;
  background-color: #555;
  color: #fff;
  font-size: 18px;
  line-height: 30px;
  padding: 10px 20px;
}

.x-task-dialog-box .x-task-dialog-title .x-task-dialog-title-logo {
  color: #999;
  text-shadow: 0 0 3px #222;
  font-weight: bold;
  font-style: italic;
  font-size: 20px;
  display: inline-block;
  margin-right: 15px;
}

.x-task-dialog-box .x-task-dialog-title .x-task-dialog-title-logo .x-task-icon {
  float: left;
  margin-top: 5px;
  margin-right: 1px;
  color: #aaa;
}

.x-task-dialog-box .x-task-dialog-content {
  position: relative;
  font-size: 14px;
  padding: 15px 20px;
}

.x-task-dialog-box .x-task-icon.x-task-dialog-close {
  position: absolute;
  right: 12px;
  top: 12px;
  cursor: pointer;
  font-size: 24px;
}

.x-task-dialog-box .x-task-dialog-buttons {
  position: relative;
  box-sizing: border-box;
  min-height: 55px;
  padding: 12px 20px;
  border-top: 1px solid #d4d4d4;
  background-color: #e9e9e9;
}

.x-task-dialog-box .x-task-dialog-buttons * {
  margin-right: 8px;
}

.x-task-dialog-box .x-task-dialog-buttons.at-right {
  float: right;
  margin-right: 0;
  margin-left: 8px;
}.x-task-checkbox {
  cursor: pointer;
  display: block;
  padding: 4px 0;
}

.x-task-checkbox input {
  float: left;
  margin-right: 5px;
  margin-top: 2px;
}

.x-task-checkbox:after {
  content: '';
  display: block;
  clear: left;
}.x-task-form-field .x-task-form-field-caption {
  padding-bottom: 6px;
  color: #555;
  font-size: 13px;
}

.x-task-form-field input[type="text"],
.x-task-form-field input[type="password"],
.x-task-form-field select,
.x-task-form-field textarea {
  box-sizing: border-box;
  width: 100%;
}.x-task-button {
  line-height: 36px;
  border-radius: 3px;
  padding: 0 16px;
  text-align: center;
  display: inline-block;
  vertical-align: top;
  color: #fff;
  background-color: #555;
  font-size: 13px;
  cursor: pointer;
  border: 1px solid #555;
  user-select: none;
}

.x-task-button:hover {
  background-color: #333;
  border-color: #333;
}

.x-task-button.x-task-white-button {
  background-color: transparent;
  color: #555;
}

.x-task-button.x-task-white-button:hover {
  color: #333;
  background-color: #f1f1f1;
}.x-task-main-menu {
  position: absolute;
  right: 65px;
  top: 0;
  font-size: 14px;
}

.x-task-main-menu > span {
  position: relative;
  cursor: pointer;
  display: inline-block;
  vertical-align: top;
  margin-left: 44px;
  line-height: 50px;
  color: #ddd;
}

.x-task-main-menu > span.active {
  color: #ffd638 !important;
}

.x-task-main-menu > span.active > div {
  color: inherit;
  opacity: 0.5;
}

.x-task-main-menu > span:hover {
  color: #fff;
}

.x-task-main-menu > span:after {
  content: '';
  position: absolute;
  bottom: 17px;
  height: 1px;
  left: 0;
  right: 0;
  background-color: #fff;
  opacity: 0;
}

.x-task-main-menu > span:hover:after {
  opacity: 0.3;
}

.x-task-main-menu > span > div {
  position: absolute;
  left: -20px;
  top: 50%;
  margin-top: -8px;
  color: #fff;
  opacity: 0.3;
  line-height: 16px;
}.x-task-start-button {
  position: fixed;
  z-index: 9990;
  bottom: 6px;
  left: 8px;
  cursor: pointer;
  color: #444;
  background-color: #fff;
  padding: 4px 2px 2px 4px;
  border-radius: 3px;
}

.x-task-start-button:hover {
  color: #111;
}

.x-task-start-button .x-task-icon {
  font-size: 40px;
  line-height: 40px;
  float: left;
}.x-task-create-task-button {
  position: fixed;
  z-index: 9990;
  bottom: 11px;
  left: 55px;
  cursor: pointer;
  color: #999;
  background-color: #fff;
  padding: 3px;
  border-radius: 3px;
}

.x-task-create-task-button:hover {
  color: #111;
}

.x-task-create-task-button .x-task-icon {
  font-size: 26px;
  line-height: 26px;
  float: left;
}.x-task-notification {
  border-radius: 3px;
  border: 1px solid #9a0025;
  background-color: #d20033;
  line-height: 16px;
  color: #fff;
  padding: 10px 14px;
  margin-bottom: 10px;
  font-size: 13px;
}.x-task-notifications {
  position: fixed;
  z-index: 10000;
  right: 40px;
  top: 40px;
  width: 300px;
}.x-task-tabs .x-task-tabs-menu {
  font-size: 0;
  line-height: 0;
  letter-spacing: -1px;
  margin-bottom: 10px;
}

.x-task-tabs .x-task-tab {
  text-align: center;
  min-width: 80px;
  letter-spacing: 0;
  line-height: 16px;
  font-size: 14px;
  display: inline-block;
  vertical-align: top;
  padding: 10px 14px;
  margin-right: 1px;
  background-color: #ddd;
  cursor: pointer;
  user-select: none;
  box-sizing: content-box;
}

.x-task-tabs .x-task-tab:first-child {
  border-radius: 5px 0 0 5px;
}

.x-task-tabs .x-task-tab:last-child {
  border-radius: 0 5px 5px 0;
}

.x-task-tabs .x-task-tab:only-child {
  border-radius: 5px;
}

.x-task-tabs .x-task-tab.active {
  background-color: #555;
  color: #fff;
}.x-task-loader {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 10;
}

.x-task-loader:before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
  background-color: #fff;
  opacity: 0.8;
}

.x-task-loader .cssload-container {
  z-index: 2;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -45px;
  margin-top: -45px;
}

.x-task-loader .cssload-whirlpool,
.x-task-loader .cssload-whirlpool::before,
.x-task-loader .cssload-whirlpool::after {
  position: absolute;
  top: 50%;
  left: 50%;
  border: 2px solid #b0aeb0;
  border-left-color: black;
  border-radius: 1499px;
  -o-border-radius: 1499px;
  -ms-border-radius: 1499px;
  -webkit-border-radius: 1499px;
  -moz-border-radius: 1499px;
}

.x-task-loader .cssload-whirlpool {
  height: 75px;
  width: 75px;
  animation: cssload-rotate 1150ms linear infinite;
  -o-animation: cssload-rotate 1150ms linear infinite;
  -ms-animation: cssload-rotate 1150ms linear infinite;
  -webkit-animation: cssload-rotate 1150ms linear infinite;
  -moz-animation: cssload-rotate 1150ms linear infinite;
}

.x-task-loader .cssload-whirlpool::before {
  content: "";
  margin: -35px 0 0 -35px;
  height: 66px;
  width: 66px;
  animation: cssload-rotate 1150ms linear infinite;
  -o-animation: cssload-rotate 1150ms linear infinite;
  -ms-animation: cssload-rotate 1150ms linear infinite;
  -webkit-animation: cssload-rotate 1150ms linear infinite;
  -moz-animation: cssload-rotate 1150ms linear infinite;
}

.x-task-loader .cssload-whirlpool::after {
  content: "";
  margin: -44px 0 0 -44px;
  height: 84px;
  width: 84px;
  animation: cssload-rotate 2300ms linear infinite;
  -o-animation: cssload-rotate 2300ms linear infinite;
  -ms-animation: cssload-rotate 2300ms linear infinite;
  -webkit-animation: cssload-rotate 2300ms linear infinite;
  -moz-animation: cssload-rotate 2300ms linear infinite;
}

@keyframes cssload-rotate {
  100% {
    transform: rotate(360deg);
  }
}

@-o-keyframes cssload-rotate {
  100% {
    -o-transform: rotate(360deg);
  }
}

@-ms-keyframes cssload-rotate {
  100% {
    -ms-transform: rotate(360deg);
  }
}

@-webkit-keyframes cssload-rotate {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@-moz-keyframes cssload-rotate {
  100% {
    -moz-transform: rotate(360deg);
  }
}.x-task-table {
  width: 100% !important;
  border-spacing: 0 !important;
  border-collapse: collapse !important;
}

.x-task-table th {
  text-align: left !important;
  padding: 6px 10px !important;
  background-color: #e9e9e9 !important;
  font-weight: normal !important;
  border: 1px solid #d4d4d4;
  font-size: 14px !important;
  box-sizing: content-box !important;
}

.x-task-table td {
  vertical-align: top !important;
  padding: 14px 10px !important;
  border: 1px solid #e4e4e4 !important;
  font-size: 14px !important;
  box-sizing: content-box !important;
}.x-task-user-form {
  margin: 0 150px;
}.x-task-action-buttons {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 60px;
  box-sizing: border-box;
  padding: 10px 20px;
  border-top: 1px solid #ddd;
}

.x-task-action-buttons .x-task-button {
  float: right;
}

.x-task-action-buttons .x-task-button.x-task-cancel-button {
  float: left;
}.x-task-projects {
  padding: 0 20px;
}.x-task-task {
  border: 1px solid #aaa;
  border-radius: 3px;
  margin-bottom: 10px;
  padding: 10px 15px;
}@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), local("Roboto-Regular"), url(https://fonts.gstatic.com/s/roboto/v18/ek4gzZ-GeXAPcSbHtCeQI_esZW2xOQ-xsNqO47m55DA.woff2) format("woff2");
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), local("Roboto-Regular"), url(https://fonts.gstatic.com/s/roboto/v18/mErvLBYg_cXG3rLvUsKT_fesZW2xOQ-xsNqO47m55DA.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), local("Roboto-Regular"), url(https://fonts.gstatic.com/s/roboto/v18/Fcx7Wwv8OzT71A3E1XOAjvesZW2xOQ-xsNqO47m55DA.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), local("Roboto-Regular"), url(https://fonts.gstatic.com/s/roboto/v18/CWB0XYA8bzo0kSThX0UTuA.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

.x-task-main-box {
  font-family: Roboto;
  color: #111;
}

.x-task-main-box button {
  line-height: 26px;
  cursor: pointer;
  font-family: Roboto;
  padding: 3px 14px;
}

.x-task-main-box select,
.x-task-main-box input[type="text"],
.x-task-main-box input[type="password"],
.x-task-main-box textarea {
  box-sizing: border-box;
  background-color: #fff;
  padding: 8px 12px;
  border: 1px solid #aaa;
  border-radius: 2px;
  font-family: Roboto;
  transition: border-color .3s;
  font-size: 14px;
}

.x-task-main-box select:focus,
.x-task-main-box input[type="text"]:focus,
.x-task-main-box input[type="password"]:focus,
.x-task-main-box textarea:focus {
  outline: 0;
  box-shadow: none;
  border-color: #000;
}

.x-task-main-box select {
  padding: 7px 12px;
}

.x-task-main-box input::placeholder {
  color: #888;
  transition: color .3s;
}

.x-task-main-box input:focus::placeholder {
  color: #d1d1d1;
}

.x-task-main-box .mt10 {
  margin-top: 10px;
}

.x-task-main-box .mt15 {
  margin-top: 15px;
}

.x-task-main-box .mt20 {
  margin-top: 20px;
}

.x-task-main-box .pt10 {
  padding-top: 10px;
}

.x-task-gray {
  color: #a1a1a1;
}

.x-task-fl {
  float: left;
}

.x-task-fr {
  float: right;
}